/*logout*/
header
  padding: 0 20px
  top: 0
  height: 100px
  background: #0E0A25
  color: white
  width: 100%
  z-index: 999

.logo
  line-height: 60px
  float: left
  text-align: center
  text-transform: uppercase

.menu
  float: left
  line-height: 100px
  text-align: center

.menu a
  text-decoration: none
  text-transform: uppercase
  padding: 0 10px
  transition: 0.4s
  font-size: 15px
  color: #fff

.logo a:hover
  transition: 0.4s
  color: #3498db
.show-menu-btn, .hide-menu-btn
  transition: 0.5s
  font-size: 30px
  cursor: pointer
  display: none

.show-menu-btn
  float: right

.show-menu-btn i
  line-height: 100px

.menu a:hover
  color: #3498db

.show-menu-btn:hover
  color: #3498db

.hide-menu-btn:hover
  color: #3498db

#chk
  position: absolute
  visibility: hidden
  z-index: -1111
/*login*/
.show-menu-btn-login, .hide-menu-btn-login
  transition: 0.5s
  font-size: 30px
  cursor: pointer
  display: none

.show-menu-btn-login
  float: right

.show-menu-btn-login i
  line-height: 100px
.hide-menu-btn-login i
  top: -30px
.show-menu-btn-login:hover
  color: #3498db

.hide-menu-btn-login:hover
  color: #3498db

#chk-login
  position: absolute
  visibility: hidden
  z-index: -1111

.show-menu-btn-login, .hide-menu-btn-login
    display: block

.menu-login
    position: fixed
    width: 40%
    height: 100vh
    background: #0E0A25
    right: -100%
    top: 0
    text-align: center
    padding: 80px 0
    line-height: normal
    transition: 0.7s
    z-index: 99999

.menu-login a
    display: block
    padding: 23px
    font-size: 15px
.menu-login h4
    text-transform: uppercase
    font-size: 120%

.hide-menu-btn-login
    position: absolute
    top: 40px
    right: 40px

#chk-login:checked ~ .menu-login
    right: 0
.menu-login a:hover
  color: #3498db

#ntf
    display: none

.notifications
    position: absolute
    z-index: 99999
    height: 150px
    left: 70%
    top: 10%
    background: white
    display: none
    .notification
        width: 100%
        height: 50px
        background: black
        margin-top: 3px

.notification-btn
    line-height: 60px
    float: right
    margin:
        top: 35px
        right: 100px
.btn-header
    margin-left: 2%
    margin-top: 25px
    border-radius: 10px 10px 10px 10px
    height: 50px
    font-size: 115%
    text-transform: uppercase

.mobile-show
    display: none
.login-btn
    background: #5745CA
    color: white
    border: 2px solid #0E0A25
    box-sizing: border-box
    border-radius: 20px
    &:hover
        transition: 0.4s
        color: #5745CA
        background: white
.sign-up-btn
    border: 2px solid #FFFF
    background-color: #0E0A25
    box-sizing: border-box
    border-radius: 20px
    &:hover
        transition: 0.4s
        color: #0E0A25
        background: white
