.about_us
    width: 100%
    height: auto
    background-image: url('../img/ban.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    color: white
    padding-bottom: 15vh
    .col-md-6
        h2
            font-weight: bold
            padding-bottom: 45px
        padding: 3%
        p
            font-size: 18px
.popup_bg
    position: absolute
    z-index: 999
    height: 90vh
    width: 100vw
    background-image: url('../img/back_to_pop-up.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    display: none
.popup
    z-index: 9998
    height: 400px
    width: 300px
    position: absolute
    background-color: black
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: none
    color: white
    text-align: center
    border-radius: 20px 20px 20px 20px
    h2
        margin-top: 15%
    form
        margin-top: 15%
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        input
            margin-left: auto
            margin-right: auto
            margin-bottom: 3%
            width: 200px
            color: white
            background: black
            border: 0
        .btn
            border: 1px solid
        .btn:hover
            background: white
            color: black
            border-color: black
.popup_bg_sg
    position: absolute
    z-index: 999
    height: 100vh
    width: 100vw
    background-image: url('../img/backgroundsg.jpeg')
    background-repeat: no-repeat
    background-size: 100% 100%
    display: none
.popup_sg
    z-index: 9998
    height: 400px
    width: 300px
    position: absolute
    background-color: black
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    display: none
    color: white
    text-align: center
    border-radius: 20px 20px 20px 20px
    h2
        margin-top: 15%
    form
        margin-top: 15%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        input
            margin-left: auto
            margin-right: auto
            margin-bottom: 3%
            width: 200px
            color: white
            background: black
            border: 0
        .btn
            border: 1px solid
        .btn:hover
            background: white
            color: black
            border-color: black

.about_project

    width: 100%
    height: auto
    color: black
    .col-md-6
        h2
            font-weight: bold
            padding-bottom: 45px
        padding: 3%
        p
            font-size: 18px
.support
    width: 100%
    height: auto
    padding-bottom: 3%
    color: black
    .col-md-12
        h2
            text-align: center
        .col-md-6
            text-align: center
            font-size: 19px

.butn
    background: white
    
    color: #0E0A25
    border: 1px solid #0E0A25
    border-radius: 10px 10px 10px 10px
    height: 45px
    width: 240px
    font-size: 15px
    text-transform: uppercase
    &:hover
        transition: 0.4s
        color: white
        background: #0E0A25
/*wall*/
.wall
    margin-top:  15vh
.event
    background-color: rgb(34, 34, 34)
    color: white
    height: auto
    padding-bottom: 1%
    padding:
        left: 1%
        right: 1%

    margin-top: 5%
    margin-bottom: 3%
    h3
        text-align: justify
        font-size: 24px
        padding: 3%

    p
        padding:
            left: 3%
            right: 3%
        text-align: justify
        font-size: 16px
    .post-photo
        width: 100%
        height: auto
        padding:
            left: 3%
            right: 3%
            top: 3%
    .icons
        line-height: 60px
        padding:
            top: 1%
            left: 3%
            right: 3%
    .col-md-3
        padding:
            top: 1%
            bottom: 3%
            left: 3%
        font-size: 18px
        @media screen and (min-width:1050px)
            left: 80px
        @media screen and (min-width:1200px)
            left: 110px
    img
        padding:
            bottom: 2.7%
            left: 3%
/*user*/

.user-main-content
    margin-top: 10%
