@import url("https://fonts.googleapis.com/css?family=Oswald")
@import "bootstrap"
@import "fonts"
@import "header"
@import "footer"
@import "main-content"
@import "media"

body
    background-color: white
    margin: 0
    padding: 0
    height: auto
    overflow: auto
    font-family: 'Roboto', sans-serif
a
    text-decoration: none
    color: inherit
    &:hover
        color: inherit
        text-decoration: none
