@media screen and (max-width: 1200px)
    /* заебала картинка */
    .about_us
        .text
            width: 100%
        .image
            display: none
    .about_us
        background-size: 100% 100%
        padding-bottom: 5vh
@media screen and (max-width: 950px)
    .mobile-hide
        display: none
    .mobile-show
        display: inline
    #ntf-btn
        display: none
    #ntf
        display: block
    /* menu */
    .show-menu-btn, .hide-menu-btn
        display: block

    .menu
        position: fixed
        width: 100%
        height: 100vh
        background: #0E0A25
        right: -100%
        top: 0
        text-align: center
        padding: 80px 0
        line-height: normal
        transition: 0.7s
        z-index: 99999

    .menu a
        display: block
        padding: 30px


    .hide-menu-btn
        position: absolute
        top: 40px
        right: 40px

    #chk:checked ~ .menu
        right: 0

@media screen and (max-width: 500px)
    .menu-login
        position: fixed
        width: 70%
    .about_us
        background-size: 100% 1100px
